<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mustafiz.iubff" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EEE"
            android:label="@string/title_activity_eee"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PS"
            android:label="@string/title_activity_ps"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MC"
            android:label="@string/title_activity_mc"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ENG"
            android:label="@string/title_activity_eng"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SH"
            android:label="@string/title_activity_sh"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LAW"
            android:label="@string/title_activity_law"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ENV"
            android:label="@string/title_activity_env"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PH"
            android:label="@string/title_activity_ph"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LS"
            android:label="@string/title_activity_ls"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BBA"
            android:label="@string/title_activity_bb"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Economics"
            android:label="@string/title_activity_economics"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MGT"
            android:label="@string/title_activity_mgt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
